<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find zero_sim_ros)/urdf/ur10.urdf' transmission_hw_interface:=$(arg transmission_hw_interface)" />
</launch>
